# Single files larger than 20 MiB are not tracked.
# Typical exclusions: CFD mesh (.msh), Fluent case/data (.cas.h5 .dat.h5), ICEM (.uns), and other large binaries.

.venv/
__pycache__/
.pytest_cache/

# Explicit paths over 20 MiB at sync time:
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/mesh/uc01b_cht_less_12y_finer_0927.msh
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/mesh/uc01b_cht_less_12y.msh
coolingplate/design/cfd_HBM/mesh/hbm_d_w045h20.msh
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/mesh/_faces_12y_finer_0927/interior.txt
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/mesh/_faces_12y/interior.txt
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/icem/uc01b_cht_less_12y.uns
coolingplate/design/cfd_HBM/mesh/hbm_d_slit_hdr.msh
coolingplate/design/cfd_HBM/mesh/hbm_c_w045h20.msh
coolingplate/design/cfd_HBM/mesh/hbm_d_slit_bl.msh
coolingplate/design/cfd_HBM/mesh/hbm_d_slit_lt9m.msh
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/uns_emergency.uns
coolingplate/design/cfd_HBM/mesh/hbm_d_lt10m.msh
coolingplate/design/cfd_HBM/mesh/hbm_cf_w08h20.msh
coolingplate/design/cfd_HBM/mesh/hbm_d_x_lt10m.msh
coolingplate/design/cfd_HBM/mesh/hbm_array.msh.dec
coolingplate/design/cfd_HBM/mesh/hbm_array.msh
coolingplate/design/cfd_HBM/mesh/hbm_array.msh.unorient
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/fluent/uc01b_cht_less_12y_i400.cas.h5
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/fluent/uc01b_cht_less_12y_i500.cas.h5
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/fluent/uc01b_cht_less_12y_i600.cas.h5
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/fluent/uc01b_cht_less_12y_i300.cas.h5
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/fluent/uc01b_cht_less_12y_cpu_init.cas.h5
coolingplate/design/cfd_HBM/mesh/hbm_d_slit_lt10m.msh
coolingplate/design/cfd_HBM/mesh/hbm_w08h35.msh
coolingplate/design/cfd/uc01b_2.4x3.0/mesh/uc01b_cht_fine.msh
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/fluent/uc01b_cht_less_12y_i400.dat.h5
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/fluent/uc01b_cht_less_12y_i500.dat.h5
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/fluent/uc01b_cht_less_12y_i600.dat.h5
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/fluent/uc01b_cht_less_12y_i300.dat.h5
coolingplate/design/cfd_HBM/mesh/hbm_w08h20.msh
coolingplate/design/cfd/uc01b_2.4x3.0/mesh/uc01b_cht_fine_v2.msh
coolingplate/design/cfd/uc01b_2.4x3.0/mesh/uc01b_cht_v2.msh
coolingplate/design/cfd/uc01b_2.4x3.0/mesh/uc01b_cht_fine_hex.msh
coolingplate/design/cfd_grace_LLDDRM/mesh/lpddr_array_cht.msh
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh/mesh/uc01b_cht_less.msh
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/mesh/uc01b_cht_less.msh
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/fluent-20260927-104912-67480.trn
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/logs/fluent_gui_section_i300b.log
coolingplate/design/cfd/uc01b_2.4x3.0/CFDdatasOK/uc01b_cht_v2_n216_q105_8587.dat.h5
coolingplate/design/cfd/uc01b_2.4x3.0/fluent/uc01b_cht_v2_i7900.dat.h5
coolingplate/design/cfd/uc01b_2.4x3.0/fluent/uc01b_cht_v2_n216_q105_sym.dat.h5
coolingplate/design/cfd/uc01b_2.4x3.0/fluent/uc01b_cht_v2_n216_sym2_init.dat.h5
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh/fluent/uc01b_cht_less_m425_bc216.dat.h5
coolingplate/design/cfd_grace_cpu/mesh/grace_cpu_counterflow_pair.msh
coolingplate/design/cfd_HBM/fluent/hbm_c_w045h20_i200.cas.h5
coolingplate/design/cfd_HBM/fluent/hbm_c_w045h20-1-00200.cas.h5
coolingplate/design/cfd_HBM/fluent/hbm_d_slit_lt9m_gpu-1-00200.dat.h5
coolingplate/design/cfd_HBM/fluent/hbm_d_slit_lt9m_gpu_i200.dat.h5
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh/icem/uc01b_cht_less.uns
coolingplate/design/cfd_HBM/fluent/hbm_d_lt10m_i200.cas.h5
coolingplate/design/cfd_HBM/fluent/hbm_d_lt10m-1-00200.cas.h5
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh/fluent/uc01b_cht_less_bc216.dat.h5
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh/fluent/uc01b_cht_less_t4_gpu.dat.h5
coolingplate/design/cfd_HBM/fluent/hbm_cf_w08h20_i200.cas.h5
coolingplate/design/cfd_HBM/fluent/hbm_cf_w08h20-1-00200.cas.h5
coolingplate/design/cfd_HBM/fluent-20260927-092129-64356.trn
coolingplate/design/cfd_HBM/logs/hbm_array_laminar.log.badread
coolingplate/design/cfd_HBM/logs/hbm_array_laminar_launch.log.badread
coolingplate/design/cfd_HBM/fluent/hbm_d_slit_lt9m_gpu_i200.cas.h5
coolingplate/design/cfd_HBM/fluent/hbm_d_slit_lt9m_gpu-1-00200.cas.h5
coolingplate/design/cfd_HBM/fluent/hbm_array_laminar_i400.cas.h5
coolingplate/design/cfd_HBM/fluent/hbm_array_laminar-1-00400.cas.h5
coolingplate/design/cfd_HBM/fluent/hbm_array_laminar-1-00200.cas.h5
coolingplate/design/cfd_HBM/fluent/hbm_d_lt10m-1-00200.dat.h5
coolingplate/design/cfd_HBM/fluent/hbm_d_lt10m_i200.dat.h5
coolingplate/design/cfd_HBM/fluent/hbm_w08h35_i400.cas.h5
coolingplate/design/cfd_HBM/mesh/hbm_single.msh
coolingplate/design/cfd_HBM/fluent/hbm_w08h20_i200.cas.h5
coolingplate/design/cfd_HBM/fluent/hbm_w08h20-1-00200.cas.h5
coolingplate/design/cfd_HBM/fluent/hbm_array_laminar-1-00200.dat.h5
coolingplate/design/cfd_HBM/fluent/hbm_array_laminar-1-00400.dat.h5
coolingplate/design/cfd_HBM/fluent/hbm_array_laminar_i400.dat.h5
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh/fluent/uc01b_cht_less_m425_bc216.cas.h5
coolingplate/design/cfd_grace_LLDDRM/mesh/lpddr_channel_cht.msh
coolingplate/design/cfd/uc01b_2.4x3.0/CFDdatasOK/uc01b_cht_v2_n216_q105_8587.cas.h5
coolingplate/design/cfd/uc01b_2.4x3.0/fluent/uc01b_cht_v2_n216_q105_sym.cas.h5
coolingplate/design/cfd/uc01b_2.4x3.0/fluent/uc01b_cht_v2_i7900.cas.h5
coolingplate/design/cfd_grace_cpu/mesh/grace_cpu_channel.msh
coolingplate/design/cfd_HBM/fluent/hbm_c_w045h20-1-00200.dat.h5
coolingplate/design/cfd_HBM/fluent/hbm_c_w045h20_i200.dat.h5
coolingplate/design/cfd/uc01b_2.4x3.0/logs/fluent_batch.log
coolingplate/design/cfd/uc01b_2.4x3.0/logs/fluent_run2.log
coolingplate/design/cfd/uc01b_2.4x3.0/fluent/fluent-20260922-221518-24524.trn
coolingplate/design/cfd/uc01b_2.4x3.0/logs/fluent_cht_fine.log
coolingplate/design/cfd_HBM/fluent/hbm_cf_w08h20-1-00200.dat.h5
coolingplate/design/cfd_HBM/fluent/hbm_cf_w08h20_i200.dat.h5
coolingplate/design/cfd/uc01b_2.4x3.0/logs/fluent_cht_fine_console.log
coolingplate/design/cfd_HBM/fluent/hbm_w08h35_i400.dat.h5
coolingplate/design/cfd/uc01b_2.4x3.0/mesh/uc01b_cht.msh
coolingplate/design/cfd/uc01b_2.4x3.0/mesh/uc01b_cht_medium.msh
coolingplate/design/cfd/uc01b_2.4x3.0/fluent/fluent-20260922-073019-25508.trn
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh/fluent/uc01b_cht_less_t4_gpu.cas.h5
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh/fluent/uc01b_cht_less_bc216.cas.h5
coolingplate/design/cfd_HBM/fluent/hbm_w08h20-1-00200.dat.h5
coolingplate/design/cfd_HBM/fluent/hbm_w08h20_i200.dat.h5
coolingplate/design/cfd/uc01b_2.4x3.0/fluent/fluent-20260921-003319-30120.trn
coolingplate/design/cfd/uc01b_2.4x3.0/fluent/fluent-20260921-003208-23452.trn
coolingplate/design/cfd/uc01b_2.4x3.0/fluent/fluent-20260921-003435-19648.trn
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/mesh/_faces_12y_finer_0927/wall_cu_fluid.txt
coolingplate/agent/practice01_0926/knowledge/library/index/kb.sqlite
coolingplate/design/cfd/uc01b_2.4x3.0lessmesh12cells/mesh/_faces_12y/wall_cu_fluid.txt
coolingplate/design/cfd/uc01b_2.4x3.0/mesh/uc01b_cht_coarse.msh
coolingplate/agent/practice01_0926/knowledge/library/files/handbooks/hbk-2026-cda-copper-tube-handbook.pdf
